/* 
#272161 Dark purple
#654E92 purple
#6C9BCF sea blue
#A5C0DD sky blue
#EBD8B2 beige
*/

@media screen and (min-width: 992px) {
  .hotkeys {
    display: grid;
    grid-template-columns: repeat(19, 1fr);
    grid-template-rows: repeat(3, 1fr);
    height: min-content;
    gap: 10px;
  }

  .drum-btn:nth-child(4) {
    grid-row: 2;
    grid-column: 6 / 8;
  }

  .drum-btn:nth-child(5) {
    grid-row: 2;
    grid-column: 15 / 17;
  }

  .drum-btn:nth-child(6) {
    grid-row: 1;
    grid-column: 16 / 18;
  }

  .drum-btn:nth-child(7) {
    grid-row: 1;
    grid-column: 18 / 20;
  }

  .drum-btn:nth-child(8) {
    grid-row: 3;
    grid-column: 5 / 18;
  }

  .drum-btn {
    font-size: 1rem;
    padding: 15px;
    grid-column-start: span 2;
  }
}

@media screen and (max-width: 991px) {
  .hotkeys {
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    height: 50%;
    width: 100%;
  }

  .drum-btn {
    font-size: 2rem;
  }
}

.hotkeys {
  display: grid;
}

.drum-btn {
  border-radius: 25px;
  border: none;
  cursor: pointer;
  font-family: "Arvo";
  font-weight: bolder;
  outline: none;
  -webkit-box-shadow: 10px 10px 13px -8px rgba(0, 0, 0, 0.27);
  -moz-box-shadow: 10px 10px 13px -8px rgba(0, 0, 0, 0.27);
  box-shadow: 10px 10px 13px -8px rgba(0, 0, 0, 0.27);
}

.drum-hit,
.drum-btn:active {
  background-color: #ebd8b2;
  color: #272161;
}

.drum-no-hit {
  background-color: #272161;
  color: #ebd8b2;
}
